<div class="container">
    <h2>List of Employees</h2>
  








        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Contact</th>
                    
                    
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of allUsers">
                    <td>{{ user.employeeId }}</td>
                    <td>{{user.employeeFirstName}}</td>
                    <td>{{ user.employeeLastName}}</td>
                    <td>{{ user.employeeContact}}</td>
                    <td>
                       
                    </td>

                </tr>
            </tbody>
        </table>
  



