<div class="container">
    <h2>List of Employees</h2>
  








        <table class="table table-striped">
            <thead>
                <tr>
                    <th>UserId</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Username</th>
                    <th>Role</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of allUsers">
                    <td>{{ user.userId }}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.userName }}</td>
                    <td>{{user.role | uppercase}}</td>
                    <td>
                       
                    </td>

                </tr>
            </tbody>
        </table>
  



