<div class="container">
    <h3>User Information</h3>

  
    </div>
    <div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Role</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr let newUser = newUser>
                <td>{{ newUser.userId }}</td>
                <td>{{ newUser.firstName }}</td>
                <td>{{ newUser.lastName }}</td>
                <td>{{ newUser.userName}}</td>
                <td>{{ newUser.password }}</td>
                <td>{{ newUser.role }}</td>
                <td>
                    <button 
                        type="button" 
                        class="btn btn-primary"
                        (click)="goToEditInfo(newUser.userId)">
                        <i class="material-icons">edit</i>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>
