<div class="container">
    <h3>User Information</h3>

  
    </div>
    <div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Employee id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Employee Contact</th>
                <th>Password</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr let newUser = newUser>
                <td>{{ newUser.employeeId}</td>
                <td>{{ newUser.employeeFirstName}}</td>
                <td>{{ newUser.employeeLastName }}</td>
                <td>{{ newUser.employeeContact}}</td>
                <td>{{ newUser.employeePassword }}</td>
        
                <td>
                    <button 
                        type="button" 
                        class="btn btn-primary"
                        (click)="goToEditInfo(newUser.employeeId)">
                        <i class="material-icons">edit</i>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>
