<div class="container">
    <h3>List Request</h3>

 

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Request ID</th>
                <th>Employee ID</th>
                <th>Request Amount</th>
                <th>Request Desc</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of allTickets">
                <td>{{ ticket.requestId }}</td>
                <td>{{ ticket.employeeId }}</td>
                <td>{{ ticket.requestAmount }}</td>
                <td>{{ ticket.requestDesc }}</td>
                <td>{{ ticket.status }}</td>
                <td>
                    <button 
                        type="button" 
                        class="btn btn-primary"
                        (click)="goToEditTicket(ticket.requestId)">
                        <i class="material-icons">Change Status of Request</i>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>